# Ваша строка подключения к дазе данных
MY_CONNECTION_STRING=

# Тестовые данные для создания записи пользователя
USER_ID=85428
USER_EMAIL=qa@mail.ru
SUBJECT_ID=2

# Тестовые данные для изменения записи пользователя
NEW_EMAIL=qasl1258@mail.ru
NEW_SUBJECT_ID=1